<<<<<<< HEAD
body{padding:0;margin:0;overflow:hidden;font-family:Raleway;font-weight:400}.article-list,.selector--list{padding:0;list-style:none}@-webkit-keyframes a{0%{-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:0}to{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}}@keyframes a{0%{-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:0}to{-webkit-transform:translateY(0%);transform:translateY(0%);opacity:1}}.huffpost{color:#9cf}.huffpost:hover{background:#9cf;color:#fff}.verge{color:#5cd65c}.verge:hover{background:#5cd65c;color:#fff}.mashable{color:#f66}.mashable:hover{background:#f66;color:#fff}.imdiversity{color:#1abc9c}.imdiversity:hover{background:#1abc9c;color:#fff}.newser{color:#16a085}.newser:hover{background:#16a085;color:#fff}.agsci{color:#bdc3c7}.agsci:hover{background:#bdc3c7;color:#fff}.diversityinc{color:#f1c40f}.diversityinc:hover{background:#f1c40f;color:#fff}.entrepreneur{color:#f39c12}.entrepreneur:hover{background:#f39c12;color:#fff}.indian{color:#e67e22}.indian:hover{background:#e67e22;color:#fff}.african{color:#3498db}.african:hover{background:#3498db;color:#fff}.middleeastern{color:#2980b9}.middleeastern:hover{background:#2980b9;color:#fff}.latino{color:#9b59b6}.latino:hover{background:#9b59b6;color:#fff}.asian{color:#8e44ad}.asian:hover{background:#8e44ad;color:#fff}.women{color:#34495e}.women:hover{background:#34495e;color:#fff}.lgbt{color:#16a085}.lgbt:hover{background:#16a085;color:#fff}.nav{border-bottom:1px solid rgba(95,158,160,.5);line-height:6pc;line-height:6rem;font-size:2em;padding:0 3pc;padding:0 3rem;position:relative;background:#fff}.nav--title-item{-webkit-animation:a 1.5s ease-in-out;animation:a 1.5s ease-in-out}.nav--action-item{position:absolute;right:2pc;right:2rem}._column{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;float:left;box-sizing:border-box;width:33.3%;height:calc(100vh - 6rem);padding:2em 0}#newscolumn{background-color:#9cf}#stemcolumn{background-color:#5cd65c}#scholarcolumn{background-color:#f66}.article-list--title{color:#fff;font-size:2em;font-weight:700;cursor:pointer;margin:0;padding:10px;position:relative;text-align:center}.article-list--link{text-decoration:none;color:#343434}.article-list--article{background-color:#fff;margin:1pc 2pc;margin:1rem 2rem;font-family:Hind,sans-serif;padding:10px;transition:all linear .2s;box-shadow:0 0 3px rgba(0,0,0,.2);border-radius:2.5px;-webkit-animation:a .6s cubic-bezier(0.23,1,0.32,1);animation:a .6s cubic-bezier(0.23,1,0.32,1)}.article-list--article:hover{box-shadow:0 0 20px rgba(0,0,0,.2)}.article-list--container{overflow-y:scroll;height:90%;-webkit-flex:1;-ms-flex:1;flex:1;height:70%}.article-list--container::-webkit-scrollbar{display:none}.selector{background:#fff;border-radius:2.5px;box-sizing:border-box;box-shadow:0 0 20px rgba(0,0,0,.2);color:#343434;position:absolute;top:50%;text-align:center;right:20%;width:60%;max-height:10em;overflow-y:scroll;visibility:hidden;opacity:0;-webkit-transform:translateY(50px);transform:translateY(50px);transition:all .6s cubic-bezier(0.23,1,0.32,1)}.selector.open{visibility:visible;opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}.selector--list-item{line-height:1.5em;cursor:pointer}
/*# sourceMappingURL=s_main.css.map */
=======
/*
Error: Invalid CSS after "...9b013ce52a05cb0": expected "{", was ""
        on line 80 of _sass/_selector.scss
        from line 8 of _sass/s_main.scss

75:         opacity: 1;
76:         transform: translateY(0);
77:     }
78: }
79: >>>>>>> 2bf0b620a5b33d5cef58649699b013ce52a05cb0

Backtrace:
_sass/_selector.scss:80
_sass/s_main.scss:8
<<<<<<< HEAD
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:299:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
=======
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:1162:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:1098:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:1093:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:638:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:632:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:657:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:650:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:403:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:309:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:410:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/bin/sass:13:in `<top (required)>'
>>>>>>> de5405e8787ee8944c87c60044aab6dae23636d1
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...9b013ce52a05cb0\": expected \"{\", was \"\"\A         on line 80 of _sass/_selector.scss\A         from line 8 of _sass/s_main.scss\A \A 75:         opacity: 1;\A 76:         transform: translateY(0);\A 77:     }\A 78: }\A 79: >>>>>>> 2bf0b620a5b33d5cef58649699b013ce52a05cb0"; }
>>>>>>> 2bf1887bab2fab0856641c2ba2cdb9e67295e29f
