<div class="_column" id="newscolumn">
	<h2 class="article-list--title" id="news-list-title">NEWS</h2>
	<div class="article-list--container">
		<ul class="article-list" id="news-list">
		</ul>
	</div>
</div>

<div class="_column" id="stemcolumn">
	<h2 class="article-list--title" id="stem-list-title">STEM</h2>
	<div class="article-list--container">
		<ul class="article-list" id="stem-list">
		</ul>
	</div>
</div>

<div class="_column" id="scholarcolumn">
	<h2 class="article-list--title" id="scholar-list-title">SCHOLARSHIPS</h2>
	<div class="article-list--container">
		<ul class="article-list" id="scholarship-list">
		</ul>
	</div>
</div>
