		<style>

			.column {
				float:left;
				box-sizing: border-box;
				width:33.3%;
				height:100vh;
				padding:2em;
			}
			
			#newscolumn{
				background-color: #99CCFF;
				overflow-y:auto;
			}

			#stemcolumn{
				background-color: #5CD65C;
				overflow-y:auto;
			}

			#scholarcolumn{
				background-color: #FF6666;
				overflow-y:auto;
			}

			ul.article {
				padding:0;
			}
			.column-title h2 {
				font-weight: bold;
				color:#999;
				font-size: 18px;
				text-transform: uppercase;
				padding:10px;
				margin:0;
			}
			.article li {
				background-color:white;
				margin: 1rem 0;
  			list-style: none;
  			font-family:Verdana;
  			padding:10px;
  			transition: all linear .2s;
			}
			.article li:hover:not(.column-title) {
				opacity: 1;
				box-shadow: 0 0 3px rgba(0,0,0,.2);
			}
			a{
				text-decoration: none;
				color:#343434;
				font-size:16px;

			}
		</style>
				<div class="column" id="newscolumn">
					<ul class="article" id="news">
						<li class="column-title"><h2>NEWS</h2></li>
					</ul>
				</div>

				<div class="column" id="stemcolumn">
					<ul class="article" id="stem">
						<li class="column-title"><h2>STEM</h2></li>
						<li class="article"><a href="http://stemdiv.ucsc.edu/">STEM Diversity Programs</a></li>
						<li class="article"><a href="http://www.eop.com/stemexpo">STEM Diversity Career Expo</a></li>
						<li class="article"><a href="http://bit.ly/1EwKzHm">Diversity in Stem</a></li>
						<li class="article"><a href="http://bit.ly/1J59wVf">Tree of Life: STEM Diversity</a></li>
					</ul>
				</div>

				<div class="column" id="scholarcolumn">
					<ul class="article" id="scholarships">
						<li class="column-title"><h2>SCHOLARSHIPS</h2></li>
						<li class="article"><a href="">List Item 1</a></li>
						<li class="article"><a href="">List Item 2</a></li>
					</ul>
				</div>