<div class="_column" id="newscolumn">
	<div class="article-list--title">
		<h2>NEWS</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="news-list">
		</ul>
	</div>
</div>

<div class="_column" id="stemcolumn">
	<div class="article-list--title">
		<h2>STEM</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="stem-list">
		</ul>
	</div>
</div>

<div class="_column" id="scholarcolumn">
	<div class="article-list--title">
		<h2>SCHOLARSHIPS</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="scholarship-list">
		</ul>
	</div>
</div>