<div class="_column huffpost" id="newscolumn">
	<div class="article-list--title">
		<h2 id="news-list-title">Huff Post</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="news-list">
		</ul>
	</div>
</div>

<div class="_column verge" id="stemcolumn">
	<div class="article-list--title" >
		<h2 id="stem-list-title">Verge</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="stem-list">
		</ul>
	</div>
</div>

<div class="_column indian" id="scholarcolumn">
	<div class="article-list--title">
		<h2 id="scholar-list-title">Scholarships</h2>
		{% include _selector.html %}
	</div>
	<div class="article-list--container">
		<ul class="article-list" id="scholarship-list">
		</ul>
	</div>
</div>
