
		<style>
				li{
					background:white;
					 margin: 1rem 0;
  					line-height: 3em;
  					list-style: none;
  					font-family:Verdana;
			}
			a{
				text-decoration: none;
			}
		</style>
		<table>
			<td>
				<div style="width:500px; height:200px;">
					<ul class="article">
						<li><h2>NEWS</h2></li>
						<li class="article"><a href="">List Item 1</a></li>
						<li class="article"><a href="">List Item 2</a></li>
					</ul>
				</div>
			</td>
			
			<td>
				<div style="width:500px; height:200px;">
					<ul class="article">
						<li><h2>STEM</h2></li>
						<li class="article"><a href="">List Item 1</a></li>
						<li class="article"><a href="">List Item 2</a></li>
					</ul>
				</div>
			</td>

			<td>
				<div style="width:500px; height:200px;">
					<ul class="article">
						<li><h2>SCHOLARSHIPS</h2></li>
						<li class="article"><a href="">List Item 1</a></li>
						<li class="article"><a href="">List Item 2</a></li>
					</ul>
				</div>
			</td>
		</table>