<div class="selector">
    <ul class="selector--list">
        <li class="selector--list-item selector--huffpost" data-id="huffpost">Huffington Post</li>
        <li class="selector--list-item selector--verge" data-id="verge">Verge</li>
        <li class="selector--list-item selector--mashable" data-id="mashable">Mashable</li>
        <li class="selector--list-item selector--imdiversity" data-id="imdiversity">IMDiversity</li>
        <li class="selector--list-item selector--newser" data-id="newser">Newser</li>
        <li class="selector--list-item selector--agsci" data-id="agsci">Penn State</li>
        <li class="selector--list-item selector--diversityinc" data-id="diversityinc">Diversity Inc</li>
        <li class="selector--list-item selector--entrepreneur" data-id="entrepreneur">Entrepreneur</li>
        <li class="selector--list-item selector--indian" data-id="indian">American Indian Scholarships</li>
        <li class="selector--list-item selector--african" data-id="african">African American Scholarships</li>
        <li class="selector--list-item selector--middleeastern" data-id="middleeastern">Middle Eastern Scholarships</li>
        <li class="selector--list-item selector--latino" data-id="latino">Hispanic/Latino Scholarships</li>
        <li class="selector--list-item selector--asian" data-id="asian">Asian American Scholarships</li>
        <li class="selector--list-item selector--women" data-id="women">Scholarships for Women</li>
        <li class="selector--list-item selector--lgbt" data-id="lgbt">LGBT Scholarships</li>
    </ul>
</div>
