<div class="selector">
    <ul class="selector--list">
        <li class="selector--list-item huffpost" data-id="huffpost">Huffington Post</li>
        <li class="selector--list-item verge" data-id="verge">Verge</li>
        <li class="selector--list-item mashable" data-id="mashable">Mashable</li>
        <li class="selector--list-item imdiversity" data-id="imdiversity">IMDiversity</li>
        <li class="selector--list-item newser" data-id="newser">Newser</li>
        <li class="selector--list-item agsci" data-id="agsci">Penn State AGSCI</li>
        <li class="selector--list-item diversityinc" data-id="diversityinc">Diversity Inc</li>
        <li class="selector--list-item entrepreneur" data-id="entrepreneur">Entrepreneur</li>
        <li class="selector--list-item indian" data-id="indian">American Indian Scholarships</li>
        <li class="selector--list-item african" data-id="african">African American Scholarships</li>
        <li class="selector--list-item middleeastern" data-id="middleeastern">Middle Eastern Scholarships</li>
        <li class="selector--list-item latino" data-id="latino">Hispanic/Latino Scholarships</li>
        <li class="selector--list-item asian" data-id="asian">Asian American Scholarships</li>
        <li class="selector--list-item women" data-id="women">Scholarships for Women</li>
        <li class="selector--list-item lgbt" data-id="lgbt">LGBT Scholarships</li>
    </ul>
</div>
