h4{
    text-align:center;
}
.about {
    &--container {
        font-family:"Hind";
        background: white;
        color: #343434;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        transition: all $quickCubic;

    &.open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
        position: fixed;
        top: 4rem;
        right: 4rem;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        padding:10px 20px 10px 20px;

        &.open {
            display: block;
        }
    }
}