._column {
    display: flex;
    flex-direction: column;
    float:left;
    box-sizing: border-box;
    width:33.3%;
    height: calc(100vh - 6rem);
    padding: 2em 0;
}

#newscolumn {
    background-color: $huffingtonPostColor;
}

#stemcolumn{
    background-color: $vergeColor;
}

#scholarcolumn{
    background-color: $mashableColor;
}

.article-list {
    @extend %base--ul;

    &--title {
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        cursor: pointer;
        margin:0;
        padding:10px;
        position: relative;
        text-align: center;
    }

    &--link {
        text-decoration: none;
        color: #343434;
    }

    &--article{
        background-color: white;
        margin: 1rem 2rem;
        font-family: 'Hind', sans-serif;
        padding:10px;
        transition: all linear .2s;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        border-radius: 2.5px;
        &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,.2);
        }
    }

    &--container {
        overflow-y: scroll;
        height: 90%;
        flex: 1;
        height: 70%;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
