._column {
    float:left;
    box-sizing: border-box;
    width:33.3%;
    height:100vh - 6rem;
    padding:2em;
}

#newscolumn{
    background-color: #99CCFF;
}

#stemcolumn{
    background-color: #5CD65C;
}

#scholarcolumn{
    background-color: #FF6666;
}

.article-list { 
    padding:0;

    &--title {
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        list-style: none;
        margin:0;
        padding:10px;
        text-align: center;
        text-transform: uppercase;
    }
    
    &--link {   
        text-decoration: none;
        color: #343434;
    }

    &--article{    
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        background-color: white;
        margin: 1rem 0;
        list-style: none;
        font-family:Verdana;
        padding:10px;
        transition: all linear .2s;
        box-shadow: 0 0 3px rgba(0,0,0,.2);
    }

    &--container {
        overflow-y: scroll;
        height: 90%;
        &::-webkit-scrollbar { 
            display: none; 
        }
    }
}
