$navHeight: 6rem;

.nav {
    border-bottom: 1px solid rgba(cadetblue,0.5);
    line-height: $navHeight;
    font-size: 2em;
    padding: 0 3rem;
    position: relative;
    background: #fff;

    &--title-item {
        animation: fadeInUp 1.5s ease-in-out;
    }

    &--action-item {
        position: absolute;
        right: 2rem;
    }
}

@keyframes fadeInUp {
    0% { transform: translateY(2rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}